# Security
.env

# Database Data
# This prevents your local database rows (GBs of data) from being pushed to Git
postgres_data/

# Python / Scrapers
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.ipynb

# OS related
.DS_Store
Thumbs.db
scrapers/output/

# Google API Credentials
service_account.json
credentials.json
token.json
